<h1 class="chat-title">{{ chatData.chatName }}</h1>
<h6>{{chatData.description}}</h6>
<br>
<h6 *ngFor="let message of listLastRecentMessages; let i=index">
    <mat-card>{{message.messageId}}:{{ message.content }} <button (click)="deleteMessage(message.messageId)">Delete</button></mat-card>
</h6>
<h6 *ngFor="let message of (messages$ | async); let i=index">
    <mat-card>{{message.messageId}}:{{ message.content }} <button (click)="deleteMessage(message.messageId)">Delete</button></mat-card>
</h6>
<input #box (keyup.enter)="newMessage(box.value, 'dasdsadasdsadas');">
