<div *ngIf="hasAccountLoggedIn">
    <div *ngIf="hasNoChats">
        <div class="alert alert-info" role="alert">
            It seems like you don't have any chats! Want to create one?  Go here <button mat-raised-button color="primary" style="background-color: rgb(52, 151, 57);" (click)="goToCreate()">Create your own</button>
        </div>
    </div>
    <h1 style="text-decoration: rgb(0, 112, 209); padding: 20px; font: 3.5em sans-serif;">My chats</h1>
    <div style="padding-bottom: 15px;">This is a map showing all your chats</div>
    <app-maps [closeChats]="chatsData" [isClickableMarker]="true"></app-maps>
    <h2 style="margin: 20px;">Your chat list</h2>
    <div *ngIf="!hasNoChats">
        <li *ngFor="let chat of chatsData">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ chat.chatName }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ chat.description }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{ chat.description }}</p>
              <app-maps [closeChats]="[chat]" [isClickableMarker]="true"></app-maps>
              <mat-action-row>
                <button mat-button (click)="goToPage('chat', chat.chatId)">Chat</button>
                <button mat-button (click)="goToSettings(chat.chatId)">Chat</button>
              </mat-action-row>
            </mat-expansion-panel>
        </li>
    </div>  
    <div *ngIf="hasNoChats">
        <h4>There aren't any chats to your name. Don't worry, we can fix this. go here <button mat-raised-button color="primary" style="background-color: rgb(52, 151, 57);" (click)="goToCreate()">Create your own</button></h4>
    </div>  
</div>
