<div class="container" style="max-width: 550px">
   <h2 class="text-center mb-5">Register</h2> 
   <form [formGroup]="registerForm">
      <label for="firstName">First Name</label>
      <input type="text" id="txtFName" formControlName="firstName"/>
      <label for="lastName">Last Name</label>
      <input type="text" id="txtSName" formControlName="lastName"/>
      <label for="email">Email</label>
      <input type="text" id="txtEmail" formControlName="email"/>
      <label for="bio">Birthday</label>
      <mat-form-field appearance="fill">
         <mat-label>Choose a date</mat-label>
         <input matInput [matDatepicker]="picker">
         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
         <mat-datepicker #picker></mat-datepicker>
       </mat-form-field>
      <label for="bio">About Me</label>
      <input type="text" id="txtBio" formControlName="bio"/>
      <button type="submit" (click)="registerUser();">Register</button>
   </form>
 </div>

 <form class="example-form">
   <mat-form-field class="example-full-width" appearance="fill">
     <mat-label>Your Name</mat-label>
     <input matInput placeholder="Ex. John" value="Sushi">
   </mat-form-field>
   <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Your Family Name</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
   <mat-form-field class="example-full-width" appearance="fill">
     <mat-label>Describe yourself!</mat-label>
     <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
   </mat-form-field>
 </form>