<nav class="navbar navbar-expand navbar-dark bg-dark navbar-other">
    <div class="navbar-nav">
        <div class="logo-placeholder"><img src="../assets/img/proxi_logo.png" alt="Proxi Logo"></div>
        <a class="nav-item nav-link nav-spacer" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/login">Login</a>
        <a class="nav-item nav-link" routerLink="/register">Register</a>
        <a class="nav-item nav-link" routerLink="/create">Create chat</a>
        <a class="nav-item nav-link" (click)="eraseCookiesAndLogout();">Logout</a>      
    </div>
  </nav>