<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%; position: fixed; z-index: 9999999;">
  <div class="container-fluid">
      <a class="navbar-brand" (click)="goToPage('');" style="width: 10%; height: auto; padding: 15px; padding-bottom: 20px;"><img src="../../../assets/img/proxi_logo.png"></a>
      <div style="font: 1.5em sans-serif;float: right; color: rgb(255, 255, 255);"(click)="goToPage('')">Home</div>
        <div style="font: 1.5em sans-serif;float: right; color: rgb(255, 255, 255);"(click)="goToPage('/contact-us')">Contact</div>
        <div style="font: 1.5em sans-serif;float: right; color: rgb(255, 255, 255);"(click)="goToPage('/about')">About</div>
        <div style="margin-right: 5%; background-color: aliceblue; border-radius: 6px;">
          <div *ngIf="isRegistered; then userRegistered else userNotRegistered"></div>
              <ng-template #userNotRegistered>
                <button type="button" class="btn btn-success" (click)="goToPage('register')">Register</button>
              </ng-template>
              <ng-template #userRegistered>
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>My Account</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem (click)="goToPage('/my-chats')">My chats</button>
                      <button ngbDropdownItem (click)="goToPage('/settings')">Account Settings</button>
                      <button ngbDropdownItem (click)="eraseCookiesAndLogout()">Logout</button>
                    </div>
                  </div>
              </ng-template>
      </div>
    </div>
</nav>