<div style="border-bottom: cornsilk; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 10px; border-radius: 10px;">
<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapReady)="onMapReady($event)">

    <ng-container *ngFor="let m of closeChats; let i = index">

        <!-- agm-marker (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [iconUrl]="m.icon" *ngIf="m.isShown" /***[iconUrl]="m.im"***/ -->
        <agm-marker [latitude]="m.coordinates.lat" [longitude]="m.coordinates.lng">
                <agm-info-window>
                    <div *ngIf="isClickableMarker">
                        <h4 style="margin-left: 3%;">{{m.chatName}}</h4>
                        <div style="margin-bottom: 3%;">{{m.description}}</div>
                        <button type="button" class="btn btn-success" (click)="goToPage('/chat/', m.chatId)">Join chat</button>
                    </div>
                    <div *ngIf="!isClickableMarker">
                        <div>Your chat's center is here</div>
                    </div>
                </agm-info-window>

        </agm-marker>
        <agm-circle [latitude]="m.coordinates.lat" [longitude]="m.coordinates.lng" [radius]="m.radius" [fillColor]="'red'"
            [editable]="false">
        </agm-circle>  
    </ng-container>
    <agm-circle [latitude]="latitude" [longitude]="longitude" [radius]="radiusOfYouChat" [fillColor]="'blue'"
            [editable]="false">
        </agm-circle>
    <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="$any(icon)">
        <agm-info-window>
            <div>This is your location</div>
        </agm-info-window>
    </agm-marker>
</agm-map>
<div style="border-width: 10px; border-color:  black;">
    <h2>Your location (Blue marker on Google Maps):</h2>
    <div style="margin-left: 20px;">Latitude: {{latitude}}</div>
    <div style="margin-left: 20px;">Longitude: {{longitude}}</div>
</div>
</div>