<h1>What is this website?</h1>
<br>
<h4>This website is an messaging app, just like whatsapp or messanger, but it also includes a special feature. When creating chats, your current location is saved and set as the center point of the chat. See example here</h4>
<img src="../../../assets/img/image.png">
<h4>Any user who is within this radius can see the chat on their home screen and join it to talk about stuff. And example would be a MacDonald's chat. A user could join the chat and talk with the employees to see if they still have some Big Macs.</h4>
<br>
<h4>The hope for this website is also to connect people near each other though difficult times. People used to talk outside but now, with the current COVID-19 situation, our lifestyle has changed and we cannot communicate the same way... This website has the ability to imporve our lives a bit and reconnect people</h4>
<br>
<h1>How to use?</h1>
<br>
<h4>To look for chats near you, just click on the "Proxi" logo at the top right corner. This will redirect you home where you can click the update button to see chats near you.</h4>
<br>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <img src="../../../assets/img/createchatimg.png" style="width: 100%; height: auto;">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <h4>If you want to create your own chats, click on the button   <button mat-raised-button color="primary" style="background-color: rgb(52, 151, 57);">Create your own</button> located in the sidebar next to the 'Go home button'<button mat-raised-button color="primary">Look for other chats?</button>
            </h4>
            <br>
            <br>
            <h4>You need to be registered to create your own chats and if you want special chats, please contact support. <a (click)="goContact();">(contact us)</a></h4>
        </div>
      </div>
    </div>
  </div>
<br>
<h4>You can edit your user settings and resend confirmation emails using links you can find under 'My account' in the navbar</h4>
<br>
<h1>You can edit chats if you created them.</h1>
<br>
<h4>If you are the creator of chat and you want to edit some parameters, please go onto your chat and select the settings button.(Note: Only someone logged in with your email can see the button)</h4>
<br>
<h1>To finish off...</h1>
<br>
<h4>All of this code is available on Github. Two repositories. <a href="https://github.com/NicolasRyjou/proxiserver">Backend</a> | <a href="https://github.com/NicolasRyjou/proxifrontend">Frontend</a></h4>
<br>
<h2>Have a great day!</h2>