<div class="main-container">
  <h1 class="title">Home page</h1>
  <div class="maps-container">
    <app-maps [radiusOfChats]='radius' [closeChats]='dataChats'></app-maps>
  </div>
  <button type="button" class="btn btn-info" style="margin-left: 20px; margin-top: 5px;" (click)="updateNearMe();"><p style="color: rgb(255, 255, 255); margin: 0;">Update</p></button>
  <li *ngFor="let chat of dataChats">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div *ngIf="chat.chatId == userId">
            You created this chat.
          </div>
          {{ chat.chatName }}
        </mat-panel-title>
        <mat-panel-description>
          {{ chat.description }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ chat.description }}</p>
      <mat-action-row>
        <button mat-button (click)="goToPage('chat', chat.chatId)">Chat</button>
      </mat-action-row>
    </mat-expansion-panel>
  </li>
  <div style="margin-top: 10px;" *ngIf="!hasChatsNear();">You don't have any chats near you.</div>
  <div style="margin-top: 10px;">To find more chats, go to different places and try again.</div>
</div>