<div class="container">
    <hr>
    <div class="container">
      <div class="alert alert-danger" role="alert" *ngIf="!isVerified">
        You are not verified. please verify <a style="text-decoration: underline;" (click)="goToPageRetry();">here</a>
      </div>
      <div class="alert alert-secondary" role="alert" *ngIf="isVerified">
        You are verified. You can create chats.
      </div>
        <h1>Create a new chat!</h1>
        <app-maps></app-maps>
        <p>The chat will be created for this location</p>
        <form #heroForm="ngForm">
          <div class="form-group">
            <label for="name">Chat Name</label>
            <input type="text" class="form-control" id="chatName"
                   required
                   [(ngModel)]="modelChat.chatName" name="chatName">  
          </div>
  
          <div class="form-group">
            <label for="chatDescription">Description: Describe your chat, what it's about and other.</label>
            <input type="text"  class="form-control" id="description"
                   [(ngModel)]="modelChat.description" name="description">
          </div>
          <div>Please select the radius in which users will be able to see and join your chat:</div>  
          <mat-slider min="{{minRadius}}" max="{{maxRadius}}" step="{{radiusSliderSteps}}" #matslider (input)="radiusSliderFunc($event)"></mat-slider>
          <div>
            {{ radius }} meters radius.
          </div>
          <button type="submit" class="btn btn-success" (click)="onCreateChatSubmit()">Create!</button>
        </form>
    </div>
  
  </div>
  