<div *ngIf="hasAccount" style="margin-top: 25px;">
  <h1 style="margin-bottom: 35px;">Account settings for {{user.email}} | User ID: {{user.userId}}</h1>

<div *ngIf="hasSendRequest">
    <div class="alert alert-danger" role="alert" *ngIf="!isSuccess">
        Failed to update. Contact support if this happens again.
    </div>
    <div class="alert alert-success" role="alert" *ngIf="isSuccess">
        Your account has been updated. You are good to go!
    </div>
</div>
<form [formGroup]="registerForm">
    <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill" >
      <mat-label>Your first name</mat-label>
      <input matInput placeholder="Ex. Steve" formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width" style="width: 100%;"  appearance="fill">
      <mat-label>Your last name</mat-label>
      <input matInput placeholder="Ex. Jobs" formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field class="example-full-width" style="width: 100%;"  appearance="fill">
      <mat-label>Tell us about you</mat-label>
      <textarea matInput placeholder="Ex. I am a Russian" formControlName="bio" required></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill"  style="width: 100%;" >
      <mat-label>Your birthday date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="01/01/1999" formControlName="birthday">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  <button type="button" style="width: 100%; padding: 3%; margin-top: 5%;" class="btn btn-dark" type="submit" (click)="updateUser();">Update account</button>
  <div style="margin: 20px"></div>
  <div class="row">
    <div class="column">
      <h1 style="margin-right: 5%; margin-left: 3%;">Confirm your email</h1>
      <p style="margin-right: 5%; margin-left: 3%;">An email will be send to your email address to confirm your identity.</p>
      <div style="margin-right: 5%; margin-left: 3%; vertical-align:middle;">
        <div style="float: right; display: inline; margin-right: 35px; margin-bottom: 5px;">
          <span class="material-icons" *ngIf="IsEmailVerified">
            check_circle
          </span>
          <span class="material-icons" *ngIf="!IsEmailVerified">
            highlight_off
          </span>
        </div>
        <p>Your email confirmation:</p>
        
      </div>
      <button type="button" class="btn btn-primary" (click)="confirmUser();" style="margin-right: 5%; margin-left: 3%; margin-top: 1%;">Send new email</button>
      <div *ngIf="hasErrorHappened">
        <div class="alert alert-danger" role="alert" style="margin-top: 10px; margin-right: 5%; margin-left: 3%;">
          Could not resolve. Please contact support.
        </div>
      </div>
      <div *ngIf="hasSendEmail"  style="margin-top: 10px;">
        <div class="alert alert-danger" role="alert" style="margin-top: 10px;">
          Could not resend confirmation email. Please contact support.
        </div>
      </div>
      <div style="margin: 20px"></div>
    </div>
    <div class="column">
      <h1>Delete your account:</h1>
      <p style="margin-bottom: 30px;">This action is irrevirsible</p>
      <p>Deleting your account means that you will have to recreate a new one to continue.</p><p>The ownership of your chats will be translated to admins.</p>
      <button type="button" class="btn btn-danger" (click)="deleteAccount();">Delete your account</button>
      <div *ngIf="hasTriedDeleting">
        <div class="alert alert-success" role="alert" *ngIf="hasDeletedAccount">
          Deleted your account successfully. Hope you re-register later.
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="!hasDeletedAccount">
          Could not delete your account. Please contact support.
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<h1 *ngIf="!hasAccount">You are not logged in/do not have an account.</h1>