<div class="container" style="max-width: 550px"> 
  <h2 class="text-center mb-5" style="font: 3 em sans-sherif;">Login</h2>

  <div>
    <div>
      <button type="button" (click)="signInWithGoogle()" class="btn btn-success">Continue with Google</button>
    </div>
  </div>
  <br>
  <div>
    <div class="form-group">
      <label>Email</label>
      <input class="input" #box (keyup.enter)="newLogin(box.value);" style="z-index: 999; width: 100%;     outline: none;
      " placeholder="Your email" #name required  class="form-control">    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" [value]="" id="password">
    </div>
  </div>
</div>